.quotes-list {
    width: 100%;

    .error-message{
        text-align: center;
        margin: 0 auto;
    }

    .loading-message{
        text-align: center;
        margin: 0 auto;
    }

    .list-item{
        margin: 0 0 5rem 0;
    }
}