.quote-wrapper {
  width: 100%;
}

.quote-wrapper .user-name {
  color: #595c59;
  text-align: left;
  margin-left: 1rem;
  margin-bottom: .2rem;
  font-size: small;
}

.quote-wrapper .user-name span {
  font-weight: bold;
}

.quote-wrapper .deleted-user span {
  background-color: #cad1ca;
  border-radius: .5rem;
  padding: 0 .2rem;
  color: #6e776e;
}

.quote {
  background-color: #f9faf9;
  border-radius: .3rem;
  -webkit-box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "quote-likes quote-content" "comments categories";
  -ms-grid-columns: 5rem auto;
      grid-template-columns: 5rem auto;
  margin: 5px;
}

.quote .quote-content {
  font-family: 'Shippori Mincho B1', serif;
  border-radius: .3rem;
  padding: 1.5rem 3rem 3rem 2rem;
  margin: .3rem;
  cursor: pointer;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: quote-content;
}

.quote .quote-content:hover {
  background-color: #f3f7f3;
}

.quote .quote-content .quotetext {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #333a33;
}

.quote .quote-content .said-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: #5e6e5e;
}

.quote .quote-content .said-by .further-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.quote .quote-content .said-by .further-details img {
  margin-left: .5rem;
}

.quote .quote-content .said-by .further-details .time-icon {
  margin-right: .2rem;
}

.quote .quote-content .said-by .further-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote .quote-interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5em;
}

.quote .quote-interactions button {
  border: none;
  border-radius: 100%;
  background-color: #f9faf9;
}

.quote .quote-interactions .quote-likes {
  font-family: 'Akaya Telivigala', cursive;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: quote-likes;
  font-weight: bold;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.quote .quote-interactions .quote-likes .like-amount {
  position: relative;
  top: -0.15rem;
}

.quote .quote-interactions .quote-likes .positive {
  color: #64d142;
}

.quote .quote-interactions .quote-likes .neutral {
  color: #7b7e7b;
}

.quote .quote-interactions .quote-likes .negative {
  color: #da6060;
}

.quote .quote-interactions .quote-likes .upvote {
  padding: .05rem;
  margin: -.05rem;
}

.quote .quote-interactions .quote-likes .upvote:not([disabled]) {
  cursor: pointer;
}

.quote .quote-interactions .quote-likes .upvote:not([disabled]):hover {
  background-color: #dae6da;
}

.quote .quote-interactions .quote-likes .upvote:active {
  outline-color: rgba(66, 211, 22, 0.432);
}

.quote .quote-interactions .quote-likes .upvoted {
  background-color: rgba(111, 216, 79, 0.432);
}

.quote .quote-interactions .quote-likes .downvote {
  padding: .05rem;
  margin: -.05rem;
}

.quote .quote-interactions .quote-likes .downvote:not([disabled]) {
  cursor: pointer;
}

.quote .quote-interactions .quote-likes .downvote:not([disabled]):hover {
  background-color: #dae6da;
}

.quote .quote-interactions .quote-likes .downvoted {
  background-color: rgba(236, 81, 81, 0.349);
}

.quote .quote-interactions .favorite-button {
  border: none;
  border-radius: 100%;
  padding: .1rem;
}

.quote .quote-interactions .favorite-button:not([disabled]) {
  cursor: pointer;
}

.quote .quote-interactions .favorite-button:not([disabled]):hover {
  background-color: #ffee0048;
}

.quote .quote-interactions .favorite-button:active {
  outline-color: #ece945c4;
}

.quote .quote-interactions .hidden {
  display: none;
}

.quote .quote-comments {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: comments;
  margin: 0 0 .6rem .6rem;
  color: #8e978e;
  font-size: .9rem;
  width: 100%;
}

.quote .quote-comments .comments-link {
  cursor: pointer;
}

.quote .quote-categories {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: categories;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .2rem;
  margin: 0 0 .6rem 1.2rem;
}

.quote .quote-categories .category-text {
  font-size: .85rem;
  margin: 0;
  background-color: #f4f8f4;
  color: #8d9b8d;
  border-radius: .4rem;
  padding: .125rem .315rem;
  display: inline;
  -webkit-box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.2);
}
