.sidenav{
    height: calc(100vh - var(--navbar-height));
    width: 22ch;
    position: fixed;
    box-shadow: .05rem .1rem .3rem rgba(0, 0, 0, 0.15);

    #home-link {
        margin-top: .5rem;
        padding-top: .7rem;
        padding-bottom: .5rem;
        font-size: large;
    }

    h4{
        margin-top: 1rem;
        padding-left: 1rem;
        margin-bottom: .5rem;
        color:rgb(61, 66, 61);
    }

    ul{
        list-style: none;
        li {
            display: flex;
            align-items: center;
            padding: .2rem 1.5rem;
            cursor: pointer;
            color:rgb(0, 0, 0);
            &:hover {
                background-color: rgb(201, 209, 202);
            }
            img{
                margin-right: .3rem;
            }
        }
    }
}