.category-page {
  width: 100ch;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-page h3 {
  width: 100%;
  color: #3f463f;
  margin: 2rem 0 2rem .5rem;
}

.category-page h3 span {
  color: #7b857b;
}

@media screen and (max-width: 150ch) {
  .category-page {
    width: 75ch;
  }
}

@media screen and (max-width: 100ch) {
  .category-page {
    width: 90%;
  }
}
